html{
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(240, 248, 255, 1);
    background-color: rgba(0, 0, 0, 1);
    font-family: 'Orbitron', sans-serif;
    background-image: url("../images/pexels-pixabay-2159.jpg");
    background-repeat: no-repeat;
    background-size: cover;  
    text-decoration: none;
    z-index: 0;
}

a{
    color: rgba(240, 248, 255, 1);
    text-decoration: none;
}

img{
    width: 100px;
    height: 100px;
    z-index: 200;
}

#overlay {
    position: fixed;
    width: 100%; 
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    z-index: -1;
}

#converter{
    margin: 100px 25px;
    margin-top: 250px;
    background-color: rgba(240, 248, 255, 0.90);
    color: darkcyan;
    padding: 25px;
    border-radius: 5px;
}

#milesConverterTitle{
    margin-top: 0px;
    opacity: 1;
}

.miles{
    font-size: 18px;
    margin-top: 30px;

}
.milesInput{
    border-radius: 5px;  
    padding: 10px;
    margin: 10px 0px;
    width: 98%;
    background-color: rgba(255, 255, 255, 1);
    border-color: darkcyan;
}

h1{
    float: left;
    margin: 0px 50px;
    font-family: 'Faster One', cursive;
    font-size: 54px;
    letter-spacing: 8px;
}

.inventoryIndicator{
    /*    position: relative;*/
    /*    float:right;*/
    margin: 0px 675px;
}

.foodInventory{
    position: relative;
    margin-top: 450px;
}
.waterInventory{
    position: relative;
    margin-top: 200px;
}

.sectionTitle{
    margin: 0px;
    padding-bottom: 100px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foods{
    margin-top: 50px;
}

.foodItems {
    flex: 20%;
    padding: 0 4px;
    margin-bottom: 35px;
    margin-left: 350px;
}

.foodItems h4 {
    margin: 0px 15px;
    vertical-align: middle;
}

.foodItems img {
    margin: 15px 30px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.waterItem img {
    margin: 30px 15px;
    width: 100px;
    height: 100px;
    vertical-align: middle;
}

.waterItem{
    margin-left: 50px;
}

.fullOpacity{
    opacity: 100;
}

.changeOpacity{
    opacity: 50%;
}
